/*Import everyting here firstly*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,700&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0; 
}

hr{
    border-top:0;
    border-left:0;
    border-right:0;
    padding-top: 5px;
}
h2{
    padding-top:2%;
    padding-bottom:2%;
    left:0;
}
p{
    padding-top: 7px;
    padding-bottom:7px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color:#F4F4F4;
}

nav ul {
    list-style-type: none;
    width:100%;
    top:0;
    left:0;
    margin:0;
    position:absolute;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:30px;
    background-color:#F4F4F4;
    box-shadow: 0 1px 8px rgb(66, 64, 64);
    z-index: 2;
}

nav .first-link{
    padding-right:850px;
    font-weight:700;
    font-size: 25px;
    
}

nav .first-link:hover{
    color:#344980;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;   
    font-size: large;
    font-weight: 200;
    padding: 20px;
    color:#344980;
}

nav ul li a:hover{
    color: rgb(182, 179, 179);
}

.wrapper{
    width:70%;
    height:auto;
    margin:0 auto;
    margin-top: 7%;
    padding:40px;
    background-color:rgba(226, 233, 235, 0.3);
    border:10px solid rgb(194, 194, 194);
}

footer{
    width:100%;
    margin:0;
    padding:20px;
    background-color:black;
    color:white;
    text-align:center;
}

